.footer {
  position: absolute;
  left: 0;
  margin-bottom: 0px;
  /* bottom: 0 !important; */
  width: 100%;
  height: 50px; /*Footer Height*/
  background-color: black;
  padding: 5px;
  color: white !important;
  text-align: center;
}


