html { 
  height: 100%; 
}

body {
    min-height: 100%; 
    position: relative; 
    padding-bottom: 50px; /*Footer Height */
    background-attachment: fixed !important;
    background: linear-gradient(to bottom right, #56B2BA 0%, #1fc8db 51%, #0BDD9C 100%);
    /* background-image: url("./img/FreeGreatPicture.com-685-background-color.jpg"); */
    color: rgb(56, 58, 66);
}

h1, h2 {
  color: #292A31;
}

.banner {
  width: 100%;
  height: auto;
}

