html { 
  height: 100%; 
}

body {
    height: 100%; 
    margin-top: 50px;
    width: 102vw;
    margin-left: -20px;
    line-height: 1.2;
    position: relative; 
    background-attachment: fixed !important;
    background: linear-gradient(to bottom right, #0060DF 0%, #18ABFB 50%, #0BDD9C 100%);
    /* background: linear-gradient(to bottom right, #56B2BA 0%, #1fc8db 51%, #0BDD9C 100%); */
    /* background-image: url("./img/FreeGreatPicture.com-685-background-color.jpg"); */
    color: rgb(56, 58, 66);
}

h1, h2 {
  color: #292A31;
  text-shadow: 2px 2px 4px #000000;
}


/* Video */
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* .bg-filter {
  z-index: -99;
  opacity: 0.3;
  background: -webkit-linear-gradient(rgba(49, 224, 247, 1) 0%, #0060DF  100%);
  background: -moz-linear-gradient(rgba(49, 224, 247, 1) 0%, #0060DF  100%);
  background: -o-linear-gradient(rgba(49, 224, 247, 1) 0%, #0060DF  100%);
  background: linear-gradient(rgba(49, 224, 247, 1) 0%, #0060DF 100%);
} */
/* .intro-text {
  font-family: "Open Sans";
  width: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 56px;
  text-transform: uppercase;
  color: white;
} */


.glyphicon-feature {
  color: #0060DF;
  font-size: 60px;
}


/* Parallax Effect */
section.parallax {
  position: relative;
  height: auto;
  padding: 120px 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* /Parallax Overlay */
section.parallax:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* background-color: rgba(0, 0, 0, 0.30); */
  background: #0060DF;
  opacity: 0.2;
  z-index: 100;
  content: ' ';
}

section.parallax h1, h2, h3 {
  color: #fff;
  position: relative;
  z-index: 101;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
}

section.parallax h1 {
  font-size: 48px;
}

section.parallax h2 {
  font-size: 36px;
}

section.parallax h3 {
  font-size: 24px;
}

section.parallax-1 {
  background-image: url("img/tools.png");
  background-position: 50% 100%;
}

section.parallax-2 {
  background-image: url("img/thumb-up.jpg");
  background-position: 50% 100%;
}

section.parallax-3 {
  background-image: url("img/team.jpg");
  background-position: 50% 100%;
}

/* Team */
.team {
  line-height: 0.7;
}

.aboutImg {
  width: 100px;
  padding: 10px;
}


