.hero-container {
  height: calc(100vh - 110px);
  width: 100vw;
}

/* The hero image */
.hero-image {
  /* The image used */
  background-image: url(http://blog.commlabindia.com/wp-content/uploads/2015/07/761x315.png); 

  height: calc(100vh - 110px);
  width: 100vw;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}


.hero-text .learn-more {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color:  #c00707;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
}

.hero-text .learn-more:hover {
  /* background-color: #56B2BA; */
  opacity: .85;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #080d15;
  opacity: .3;
  z-index: 2;
}
