.panel-login {
    border-color: white;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    margin-top: 100px;
    min-height: 300px;
    background-color:rgba(0, 8, 56, 0.801);

}
.panel-login>.panel-heading {
    display:block;
    color: white;
    background-color: transparent;
    border-color: #fff;
    text-align:center !important;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
}
.panel-login>.panel-heading a{
    text-decoration: underline;
    text-underline-position: under;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    width: 50%;
}
.panel-login>.panel-heading a.active{
    color: white;
    font-size: 20px;
    }

.panel-login input {
    background-color: transparent;
    width: 80%;
}


/* .panel-login>.panel-heading hr{
margin-top: 10px;
margin-bottom: 0px;
clear: both;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
} */
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
height: 45px;
border: 1px solid white;
color: white;
font-size: 16px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
outline:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-color: white;
}

.panel-body h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* .btn-login {
background-color: #0060DF !important;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #0060DF;
}
.btn-login:hover,
.btn-login:focus {
color: #fff;
background-color: #0060DF;
border-color: #0060DF;
}
.forgot-password {
text-decoration: underline;
color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
text-decoration: underline;
color: #666;
}

.btn-register {
background-color: #0060DF  !important;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #0060DF;
}
.btn-register:hover,
.btn-register:focus {
color: #fff;
background-color: #0060DF;
border-color: #0060DF;
} */
